In [ ]:
#contoh tuple
T1 = (1, "dua", True, 1+2J)
print("ini adalah tuple", T1)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
T11 = 1, "dua", True, 1+2J
print("ini adalah tuple", T11)

ini adalah tuple (1, 'dua', True, (1+2j))

In [ ]:
#menampilkan tipe struktur data
type(T1)

tuple

In [ ]:
type(T11)

tuple

In [ ]:
#terurut/odered
T1[0:3]

(1, 'dua', True)

In [ ]:
#tidak bisa diganti/immutable
T1[2] = "manusia"

TypeError: ignored

In [ ]:
#dapat diindeks/slicing
print("elemen kedua dari tuple T1 adalah: ",T1[1])

elemen kedua dari tuple T1 adalah:  dua

In [ ]:
#dapat diijinkan duplikasi
T2 = (3, 2.4, True, 2.4)
T2

(3, 2.4, True, 2.4)

In [ ]:
#tidak dapat menambahkan elemen baru
t1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.append(10)
T1.append(50)
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#tidak dapat menghapus elemen
T1 = (1, "dua", True, 1+2j)
print(f' tuple\t: {T1}')

 tuple	: (1, 'dua', True, (1+2j))

In [ ]:
T1.remove(1)
T1.remmove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
#menggabungkan tuple
T3 = T1 + T2
T3

(1, 'dua', True, (1+2j), 3, 2.4, True, 2.4)

**Latihan**

In [ ]:
La = (3, "jeno", True, 3+5j)
print(La)

Lb = (2, "dream", False, 2+3j)
print(Lb)

(3, 'jeno', True, (3+5j))
(2, 'dream', False, (2+3j))

In [ ]:
type(La)

tuple

In [ ]:
type(Lb)

tuple

In [ ]:
La[0:2]

(3, 'jeno')

In [ ]:
La[2] = "dream"

TypeError: ignored

In [ ]:
print("elemen pertaman dari tuple La adalah: ", La[0])

elemen pertaman dari tuple La adalah:  3

In [ ]:
La.append(15)
La.append(16)
print(f' tuple\t: {La}')

AttributeError: ignored

In [ ]:
La.remove(1)
La.remmove("dua")
print(f' tuple\t: {T1}')

AttributeError: ignored

In [ ]:
Lm = La + Lb
Lm

(3, 'jeno', True, (3+5j), 2, 'dream', False, (2+3j))